{% extends "accounts/card_base.html" %}
{% block page_title %}Choose a new password{% endblock %}
{% block card %}
<span class="reg__pill">PASSWORD RESET</span>
{% if validlink %}
<h1>Choose a new password</h1>
<p class="reg__lead">Use at least 10 characters. Avoid common passwords.</p>
<form method="post" class="reg__form" novalidate>
  {% csrf_token %}
  {% if form.errors %}<div class="reg__formerr">{% for field in form %}{% for e in field.errors %}<div>{{ e }}</div>{% endfor %}{% endfor %}</div>{% endif %}
  <div class="reg__field"><label for="id_new_password1">New password</label>
    <input type="password" name="new_password1" id="id_new_password1" autocomplete="new-password" required autofocus></div>
  <div class="reg__field" style="margin-top:16px"><label for="id_new_password2">Confirm new password</label>
    <input type="password" name="new_password2" id="id_new_password2" autocomplete="new-password" required></div>
  <button type="submit" class="reg__submit">Save new password</button>
</form>
{% else %}
<h1>Link expired</h1>
<p class="reg__lead">This reset link is invalid or has already been used.</p>
<a href="{% url 'password_reset' %}" class="reg__submit reg__submit--link">Request a new link</a>
{% endif %}
{% endblock %}
