{% extends "accounts/card_base.html" %}
{% block page_title %}Change password{% endblock %}
{% block header_right %}<p class="reg__signin"><a href="{% url 'dashboard' %}">Back to CareBoard</a></p>{% endblock %}
{% block card %}
<span class="reg__pill">ACCOUNT SECURITY</span>
<h1>Change password</h1>
<p class="reg__lead">Use at least 10 characters. Avoid common passwords.</p>
<form method="post" class="reg__form" novalidate>
  {% csrf_token %}
  {% if form.errors %}<div class="reg__formerr">{% for field in form %}{% for e in field.errors %}<div>{{ e }}</div>{% endfor %}{% endfor %}</div>{% endif %}
  <div class="reg__field"><label for="id_old_password">Current password</label>
    <input type="password" name="old_password" id="id_old_password" autocomplete="current-password" required autofocus></div>
  <div class="reg__field" style="margin-top:16px"><label for="id_new_password1">New password</label>
    <input type="password" name="new_password1" id="id_new_password1" autocomplete="new-password" required></div>
  <div class="reg__field" style="margin-top:16px"><label for="id_new_password2">Confirm new password</label>
    <input type="password" name="new_password2" id="id_new_password2" autocomplete="new-password" required></div>
  <button type="submit" class="reg__submit">Save new password</button>
</form>
{% endblock %}
