{% extends "accounts/card_base.html" %}
{% block page_title %}Reset password{% endblock %}
{% block card %}
<span class="reg__pill">PASSWORD RESET</span>
<h1>Forgot your password?</h1>
<p class="reg__lead">Enter your account email. If it matches an active account, we'll send a link to choose a new password.</p>
<form method="post" class="reg__form" novalidate>
  {% csrf_token %}
  {% if form.errors %}<div class="reg__formerr">Please enter a valid email address.</div>{% endif %}
  <div class="reg__field"><label for="id_email">Email Address</label>
    <input type="email" name="email" id="id_email" autocomplete="email" required autofocus placeholder="you@clinic.org"></div>
  <button type="submit" class="reg__submit">Send reset link</button>
</form>
{% endblock %}
